:root {
    --font-color: #fff;
    --background-color: #303030;
}
* {
    color: var(--font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-size: 500%;
    margin-bottom: 0;
}

h2 {
    font-size: 300%;
}

#job-title {
    font-size: 200%;
    margin-top: 0;
}

td {
    text-align: center;
}

nav {
    padding: 1%;
    /* background-image: linear-gradient(to bottom, #424243 0%, #ffffff 100%); */
    background-image: linear-gradient(#202020, var(--background-color), #202020);
    border-radius: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-link {
    font-size: larger;
}

.nav-link:hover {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
}

#home-section {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    align-items: center;
}

#skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-cards {
    display: flex;
}

.skills-logos {
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
    max-width: 100%;
    height: auto;
}

.card-container {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5%;
}

.card-item-details {
    background-color: #404040;
    border-radius: 10px 10px 0px 0px;
    font-size: 1em;
    padding: 0 10% 0;
}

.card-media {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 0px 0px 10px 10px;
    padding: 5%;
}

#work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-card {
    position: relative;
    transition: top 0.5s;
}

.work-card:hover {
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    top: -10px;
}

.project-name {
    font-size: larger;
}

.project-category {
    font-size: large;
}

.project-thumbnails {
    max-width: 100%;
    height: auto;
}

#first-project-card {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#professional-experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professional-exp-entry {
    margin-left: 10%;
    margin-right: 10%;
}

#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-section section {
    display: flex;
}

.contact-logos {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

@media screen and (max-width: 768px) {

    #skills-cards {
        flex-wrap: wrap;
    }

    .decorations {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
